@import "~@picocss/pico/scss/pico.scss";

body {
  width: 350px;
  height: 150px;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#project-list li label {
  cursor: pointer;
  transition: all 0.25;
  &:hover {
    opacity: 0.7
  }
}